@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --color-green: #38AF90;
    --color-white: #fff;
    --color-dark-gray: #797979;
    --color-light-gray: #F0F0F0;
    --color-red: #DD7E92;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-config {
    height: 90px;
    background-color: var(--color-green); 
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.nav-limitations {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-brand h1 {
    margin: 0;
    display: inline;
    color: var(--color-white);
    font-size: 18px;
}


.main-noticias h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-dark-gray);
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 8px;
}

.main-noticias-card {
    background-color: var(--color-light-gray);
    border-radius: 8px;
    padding: 16px 12px;
    margin: 0 10px;
}

.main-noticias-card h3 {
    color: var(--color-green);
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.main-noticias-card p {
    color: var(--color-dark-gray);
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.main-data p {
    color: var(--color-green);
    font-size: 10px;
    font-weight: 400;
    border-top: 1px solid var(--color-green);
    margin-top: 7px;
    padding-top: 1px;
}

.main-noticia-description p {
    color: var(--color-dark-gray);
    font-size: 10px;
    font-weight: 400;
    margin-top: 12px;
}

.main-noticia-description a {
    
    color: var(--color-red);
    font-size: 14px;
    font-weight: 700;
}